* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 5rem;
}
.navbar > ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 16px;
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-link > a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding: 16px;
}
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: red;
  color: white;
}
.welcome-section p {
  font-size: 2rem;
}
